requests
beautifulsoup4
pandas
numpy
matplotlib
seaborn
scikit-learn
sqlalchemy
joblib
datasets
langchain
langgraph
langchain-community
sentence-transformers
chromadb
fastapi
uvicorn
pydantic

imbalanced-learn
